h1 {
    color: white;
}

a {
    color:rgba(255, 255, 0, 0.822);
    font-size: 30px;
}

h2 {
    color:white;
    font-size: 40px;
}

body {
    background-color: black;
}

p1 {
    color:rgba(255, 228, 196, 0.922);
    font-size: 20px;
}
h3 {
    color: white;
    font-size: 30px;
}

h4 {
    color: white;
    font-size: 30px;
}

p2 {
    color:bisque;
    font-size: 20px;
}

p3 {
    color:bisque;
    font-size: 20px;
}