body {
    background-color: navy;
}

.us {
    text-decoration: wavy underline;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

.yo {
    text-decoration: solid underline;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}